*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(144, 211, 255);
}

.btn_container{
    display: flex;
    justify-content: space-between;
}

input{
    margin:50px;
    color: rgb(0, 0, 162);
    border: 1px solid rgb(0, 0, 162);
    background-color: rgba(69, 46, 220, 0.266);
    font-size: 20px;
    padding: 30px;
    border-radius: 20px;   
}

input:hover{
    color: rgb(96, 12, 69);
    background-color: rgba(96, 12, 69, 0.265);
    border: 1px solid rgb(96, 12, 69);
}



#container{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap; 
    margin-bottom: 50px;
}

.box{
    border: 1px solid darkblue;
    background-color: rgba(0, 0, 139, 0.356);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;      
}

.box2{
    border: 1px solid darkblue;
    background-color: cyan;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;      
}